.navbar{
    min-height: 100vh;
    padding-bottom: 0;
    
    } 

.logo:hover{
    opacity: 0.5;
}

.nav__list{
    width: 296px;
    margin-top: 2rem;
}   

.nav__item{
    padding-left: 2rem; 
    margin-bottom: 12px;
}

.nav__item:hover::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
  }

.account__photo{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-image: url("../images/andychen.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.account__info{
    padding-left: 1rem;
}